<%= form_with(model: [project, comment], html: {class: "contents", id: "new_comment_form"}) do |form| %>
<div class="my-5">
  <%= form.label :message %>
  <%= form.textarea :message, rows: 4, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": form.object.errors[:message].none?, "border-red-400 focus:outline-red-600": form.object.errors[:message].any?}] %>
</div>

<div class="inline">
  <%= form.submit "Add comment", class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
</div>
<% end %>